versions of the doctor 3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://github.com/sheshan93/Modern_Who_Collection"
    xmlns:BadWolf="https://github.com/sheshan93/Modern_Who_Collection"
    xmlns:mods="http://www.loc.gov/mods/v3" xmlns:pbcore="http://pbcore.org/elements/"
    elementFormDefault="qualified">

    <xs:import namespace="http://purl.org/dc/terms/"
        schemaLocation="http://dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>
    <xs:import namespace="http://www.loc.gov/mods/v3"
        schemaLocation="http://www.loc.gov/standards/mods/v3/mods-3-6.xsd"/>
    <xs:import namespace="http://pbcore.org.elements/"/>

    <xs:element name="Doctor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BadWolf" minOccurs="0"/>
                <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Medium">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BadWolf" minOccurs="0"/>
                <xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="modsSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="mods:mods" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pbcSection">
        <complexType>
            <xs:sequence>
                <xs:element ref="pb:any" maxOccurs="unbounded"/>
            </xs:sequence>
        </complexType>
    </xs:element>

    <mods:titleInfo>
        <mods:title>Versions of The Doctor</mods:title>
    </mods:titleInfo>
    <mods:name type="personal">
        <mods:namePart>Edokter</mods:namePart>
        <mods:role>
            <mods:roleTerm type="text">creator</mods:roleTerm>
        </mods:role>
    </mods:name>
    <mods:language>
        <mods:languageTerm type="code" authority="iso639-2b">eng</mods:languageTerm>
    </mods:language>
    <mods:physicalDescription>
        <mods:form authority="marcform">jpeg</mods:form>
        <mods:extent>496 x 594 pixels ; 144 KB</mods:extent>
    </mods:physicalDescription>
    <mods:abstract type="Summary">
        Collage of all the twelve versions of the Doctor.
    </mods:abstract>
    <mods:location>
        <mods:url displayLabel="electronic resource" usage="primary display"
            >https://en.wikipedia.org/wiki/File:Versions_of_the_Doctor.jpg></mods:url>
    </mods:location>
    <mods:identifier type="lccn">BadWolf014</mods:identifier>

    <pbcoreAssetDate>2014-08-13</pbcoreAssetDate>
    <pbcoreRightsSummary>Insert Later</pbcoreRightsSummary>

    <BadWolfDoctor>TheFirstDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheSecondDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheThirdDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheFourthDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheFifthDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheSixthDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheSeventhDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheEighthoctor</BadWolfDoctor>
    <BadWolfDoctor>TheNinthDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheTenthDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheEleventhDoctor</BadWolfDoctor>
    <BadWolfDoctor>TheTwelfthDoctor</BadWolfDoctor>
    
    <BadWolfMedium>Still Image</BadWolfMedium>
    

</xs:schema>
